<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.digitalcardscanner">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission. ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@drawable/logos"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DigitalCardScanner"
        android:usesCleartextTraffic="true">


        <activity
            android:name=".DevelopersActivity"
            android:exported="true" />
        <activity
            android:name=".AboutActivity"
            android:exported="true" />
        <activity
            android:name=".OnBoardingScreen"
            android:exported="true" />
        <activity
            android:name=".ScanActivity"
            android:exported="true" />
        <activity android:name=".SignUpActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".MainActivity" />
        <activity
            android:name=".AddNewcategory"
            android:exported="true" />
        <activity
            android:name=".CreateCardActivity"
            android:exported="true" />
        <activity
            android:name=".Add_View_Activity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>



        <activity
            android:name="com.example.importcontact.ImportActivity"
            android:exported="true"
            android:label="Import Contact" />
        <activity
            android:name="com.example.importcontact.ContactViewActivity"
            android:exported="true"
            android:label="View Contact"
            android:parentActivityName="com.example.importcontact.MainActivityimportcontact">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.importcontact.MainActivityimportcontact" />
        </activity>
        <activity
            android:name="com.example.importcontact.ContactDetailsActivity"
            android:excludeFromRecents="true"
            android:exported="true"
            android:label="Contact Details"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat" />
        <activity
            android:name="com.example.importcontact.AddContactActivity"
            android:exported="true"
            android:label="Add Contact"
            android:parentActivityName="com.example.importcontact.MainActivityimportcontact">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.importcontact.MainActivityimportcontact" />
        </activity>
        <activity
            android:name="com.example.importcontact.MainActivityimportcontact"
            android:exported="true" />


        <activity
            android:name="com.example.createcard.savedActivity"
            android:exported="true" />
        <activity
            android:name="com.example.createcard.cardActivity"
            android:exported="true" />
        <activity
            android:name="com.example.createcard.panelActivity"
            android:exported="true" />
        <activity
            android:name="com.example.createcard.menuActivity"
            android:exported="true" />
        <activity
            android:name="com.example.createcard.MainActivity"
            android:exported="true" />


        <activity
            android:name="com.example.scanner.Activity.LaunchScreenActivity"
            android:exported="true" />
        <activity
            android:name="com.example.scanner.Activity.HistoryActivity"
            android:exported="true" />
        <activity
            android:name="com.example.scanner.Activity.MainActivity"
            android:exported="true" />


        <activity
            android:name="com.example.transfer.DisplayContacts"
            android:exported="true"
            android:label="@string/title_activity_display_contacts"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />
        <activity
            android:name="com.example.transfer.ReaderActivity"
            android:exported="true"
            android:label="@string/title_activity_reader"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />
        <activity
            android:name="com.example.transfer.ChangingActivity"
            android:exported="true" />
        <activity
            android:name="com.example.transfer.AllContacts"
            android:exported="true" />
        <activity
            android:name="com.example.transfer.ActualContact"
            android:exported="true"
            android:label="@string/title_activity_actual_contact"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />
        <activity
            android:name="com.example.transfer.MainActivitytransfer"
            android:exported="true" />


        <activity
            android:name="com.example.addviewbc.ProfileViewActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />
        <activity
            android:name="com.example.addviewbc.ProfileListActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />
        <activity
            android:name="com.example.addviewbc.ProfileCreatorActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />
        <activity
            android:name="com.example.addviewbc.CameraReaderActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />
        <activity
            android:name="com.example.addviewbc.MainActivitybcr"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />

        <meta-data
            android:name="com.google.android.gms.vision.DEPENDENCIES"
            android:value="ocr" />

        <activity android:name="com.example.chatsapp.Activities.GroupChatActivity" />
        <activity
            android:name="com.example.chatsapp.Activities.ChatActivity"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />
        <activity android:name="com.example.chatsapp.Activities.SetupProfileActivity" />
        <activity
            android:name="com.example.chatsapp.Activities.OTPActivity"
            android:windowSoftInputMode="stateVisible" />
        <activity
            android:name="com.example.chatsapp.Activities.PhoneNumberActivity"
            android:exported="true"
            android:windowSoftInputMode="stateVisible" />
        <activity
            android:name="com.example.chatsapp.Activities.MainActivityChats"
            android:windowSoftInputMode="stateAlwaysHidden" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
        <!--
 Set custom default icon. This is used when no icon is set for incoming notification messages.
     See README(https://goo.gl/l4GJaQ) for more.
        -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_send" />
        <!--
 Set color used with incoming notification messages. This is used when no color is set for the incoming
             notification message. See README(https://goo.gl/6BKBk7) for more.
        -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/green" />

        <service
            android:name="com.example.chatsapp.MyFirstbaseService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name=".PatternActivity"
            android:exported="true" />
    </application>

</manifest>